package {{.Name | spaceToUnderscore | toLower}}

import "testing"

func Test{{.Number}}_1_1(t *testing.T) {
    /**
	// insert your input
	a := 0
	output := 0

    // insert your function
	result := func(args...)

	if output != result {
		t.Errorf("Expected %d, but got %d", output, result)
	}
	**/
}